body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  margin: 20px;
  background-color: lightgrey;
  padding: 15px;
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid grey;
  padding: 5px;
}

tbody img {
  max-width: 200px;
}

th {
  background-color: lightblue;
